---
---
<div class="marquee overflow-hidden bg-purple border-y-[3px] border-ink py-3 relative z-[2]" aria-hidden="true">
  <div class="marquee-track">
    <div class="mg">
      <span class="px-4">Get your merch on Spotify</span><span class="px-1 opacity-45 text-[.8rem]">✦</span>
      <span class="px-4">No inventory</span><span class="px-1 opacity-45 text-[.8rem]">✦</span>
      <span class="px-4">Made for musicians</span><span class="px-1 opacity-45 text-[.8rem]">✦</span>
      <span class="px-4">Ready to rock</span><span class="px-1 opacity-45 text-[.8rem]">✦</span>
      <span class="px-4">From $5/mo</span><span class="px-1 opacity-45 text-[.8rem]">✦</span>
    </div>
    <div class="mg">
      <span class="px-4">Get your merch on Spotify</span><span class="px-1 opacity-45 text-[.8rem]">✦</span>
      <span class="px-4">No inventory</span><span class="px-1 opacity-45 text-[.8rem]">✦</span>
      <span class="px-4">Made for musicians</span><span class="px-1 opacity-45 text-[.8rem]">✦</span>
      <span class="px-4">Ready to rock</span><span class="px-1 opacity-45 text-[.8rem]">✦</span>
      <span class="px-4">From $5/mo</span><span class="px-1 opacity-45 text-[.8rem]">✦</span>
    </div>
  </div>
</div>
