---
---
<div class="marquee overflow-hidden bg-purple border-y-[3px] border-ink py-3 relative z-[2]" aria-hidden="true">
  <div class="marquee-track">
    <div class="mg">
      <span class="px-4">All your music in one site</span><span class="px-1 opacity-45 text-[.8rem]">✦</span>
      <span class="px-4">Merch, tour dates &amp; press kit</span><span class="px-1 opacity-45 text-[.8rem]">✦</span>
      <span class="px-4">Sell on Spotify</span><span class="px-1 opacity-45 text-[.8rem]">✦</span>
      <span class="px-4">No code, no developer</span><span class="px-1 opacity-45 text-[.8rem]">✦</span>
      <span class="px-4">A site you actually own</span><span class="px-1 opacity-45 text-[.8rem]">✦</span>
      <span class="px-4">Made for musicians</span><span class="px-1 opacity-45 text-[.8rem]">✦</span>
    </div>
    <div class="mg">
      <span class="px-4">All your music in one site</span><span class="px-1 opacity-45 text-[.8rem]">✦</span>
      <span class="px-4">Merch, tour dates &amp; press kit</span><span class="px-1 opacity-45 text-[.8rem]">✦</span>
      <span class="px-4">Sell on Spotify</span><span class="px-1 opacity-45 text-[.8rem]">✦</span>
      <span class="px-4">No code, no developer</span><span class="px-1 opacity-45 text-[.8rem]">✦</span>
      <span class="px-4">A site you actually own</span><span class="px-1 opacity-45 text-[.8rem]">✦</span>
      <span class="px-4">Made for musicians</span><span class="px-1 opacity-45 text-[.8rem]">✦</span>
    </div>
  </div>
</div>
